[
  {
    "origen": "/home/data/Comics/Tachiyomi/Manually/Solo Leveling",
    "destino": "/home/data/Comics/Reader/Webtoon/Solo Leveling (2018)",
    "name": "Solo Leveling (2018) Issue #",
    "funcion": "NineMangaEs (ES)",
    "provider": "NineMangaEs (ES)",
    "slug": "solo-levelling",
    "Series": "Solo Leveling",
    "Volume": "2018",
    "Publisher": "Webtoon"
  }
]